*{
    margin: 0%;
    padding: 0%;
}

 header {
    background-image: url("./assets/img/fondo.jpg");
     background-repeat: no-repeat;
    background-color: #FCFCFC;
    width: 100%;
 }

 header ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 5%;
 }

 header ul li {
    font-size: 20px;
 }

 main h1 {
   text-align: center;
    padding: 3%;

 }

 hr {
   width: 15%;
   margin-left: 43%;
 }

 .parte1 {
   display: flex;
   margin-top: 10%;
   width: 80%;
   margin-left:18%;
 }

 .parte2 {
   display: flex;
   margin-top: 2%;
   width: 80%;
   margin-left: 18%;
 }
 
 details summary {
   list-style: none;
   
 }

 .num1  {
   background-color: greenyellow;
   padding: 2%;
   width: 20%;
 }

 .num2 {
     background-color: yellow; 
     padding: 2%;
     margin-left: 1%;
     width: 20%;
 }

 summary p {
   font-size: 25px;


 }
 summary  {
   font-size: 19px;
   text-align: center;

 } 

 .num3 {
    background-color: red;
    padding: 2%;
    margin-left:1%;
    width: 20%;
 }

.num4 {
    background-color:blue;
    padding: 2%;
    margin-left: 1;
    width: 20%

}

.num5 {
   background-color:green;
    padding: 2%;
    margin-left: 1%;
    width: 20%;
}

.num6 {
   background-color:rgb(178, 178, 1);
    padding: 2%;
    margin-left: 1%;
    width: 20%
}

#sedes {
   background-color: #0A9B17;
   width: 100%;
   margin-top: 5%;

}
#sedes h1 {
   color: white;
   font-size: 30px;
}

.los2 {
   display: flex;
   margin-top: 3%;
   width: 100%;
}

.parte3 {
   border: 1px solid white;
   margin-left:5% ;
   margin-bottom: 3%;
   margin-right: 0.3%;

}
.parte4{
   border: 1px solid white;
   margin-right: 5%;
   margin-bottom: 3%;
}

.parte3 img {
   width: 100%;
   height: 70%;
}

.parte4 img {
   width: 100%;
   height: 70%;
}

.los2 p{
   width: 100%;
   color:white;
   font-size: 20px;
   text-align: center;
}
.los2 h3 {
   text-align: center;
    color: white;
}


footer h2 {
   text-align: center;
   padding:3% ;
}

footer {
   background-image: url("./assets/img/fondo.jpg");
    background-repeat: no-repeat;
    background-color: #FCFCFC;
    width: 100%;
    margin-top:5%;
}