*{
    margin: 0%;
    padding: 0%;
}

 header {
    background-image: url("img/fondo.jpg");
     background-repeat: no-repeat;
    background-color: #FCFCFC;
    width: 100%;
 }

 header ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 5%;
 }

 header ul li {
    font-size: 20px;
 }

 main h1 {
   text-align: center;
    padding: 3%;

 }

 hr {
   width: 15%;
   margin-left: 43%;
 }

 .parte1 {
   display: flex;
   margin-top: 10%;
   width: 80%;
   margin-left:18%;
 }

 .parte2 {
   display: flex;
   margin-top: 2%;
   width: 80%;
   margin-left: 18%;
 }
 
 details summary {
   list-style: none;
   
 }

 .num1  {
   background-color: greenyellow;
   padding: 2%;
   width: 20%;
 }

 .num2 {
     background-color: yellow; 
     padding: 2%;
     margin-left: 1%;
     width: 20%;
 }

 summary p {
   font-size: 25px;


 }
 summary  {
   font-size: 19px;
   text-align: center;

 } 

 .num3 {
    background-color: red;
    padding: 2%;
    margin-left:1%;
    width: 20%;
 }

.num4 {
    background-color:blue;
    padding: 2%;
    margin-left: 1;
    width: 20%

}

.num5 {
   background-color:rgb(11, 69, 69);
    padding: 2%;
    margin-left: 1%;
    width: 20%
}

.num6 {
   background-color:rgb(178, 178, 1);
    padding: 2%;
    margin-left: 1%;
    width: 20%
}

#sedes {
   background-color: #0A9B17;
   width: 100%;
   margin-top: 5%;

}
#sedes h1 {
   color: white;
   font-size: 30px;
}

.los2 {
   display: flex;
   margin-top: 3%;
   width: 100%;
}

.parte3 {
   border: 1px solid white;
   margin-left:5% ;
   margin-bottom: 3%;
   margin-right: 0.3%;

}
.parte4{
   border: 1px solid white;
   margin-right: 5%;
   margin-bottom: 3%;
}

.parte3 img {
   width: 100%;
   height: 70%;
}

.parte4 img {
   width: 100%;
   height: 70%;
}

.los2 p{
   width: 100%;
   color:white;
   font-size: 20px;
   text-align: center;
}
.los2 h3 {
   text-align: center;
    color: white;
}

footer {
   background-image: url("img/fondo.jpg");
    background-repeat: no-repeat;
    background-color: #FCFCFC;
    width: 100%;
    margin-top:5%;
}
footer h2 {
   text-align: center;
   padding:3% ;
}

/*pantalla para movil*/
@media screen and (min-width:300px) {
  
  body {
   width: 100%;
   margin:0%;
   padding: 0%;
   margin-right: 0%;
   margin: 5%;
  }
  
  
   header {
      background-image:linear-gradient(to right, white, yellow,greenyellow,rgb(45, 45, 172));
      margin: 0%;
      display:flex;
      flex-direction: column;

   }

   header ul {

      padding: 0%;
      list-style: none;
      display: flex; 
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      
   }

   main {
      margin-right: 0%;
      padding-right: 0%;
   }

   .parte1 {
      margin: 0%;
      display: flex;
      flex-direction: column;
      margin-top: 10%;
      width: 90%;
      
    }
   
    .parte2 {
      margin: 0%;
      display: flex;
      flex-direction: column;
      margin-top: 2%;
      width: 90%;

    }  

    .num1  {
      background-color: rgb(59, 94, 7);
   
      width:100%;
    }
   
    .num2 {
        background-color: rgb(245, 245, 138); 
        margin: 0%;
        margin-top: 2%;
        width: 100%;
    }
   
    summary p {
      font-size: 25px;
   
   
    }
    summary  {
      font-size: 19px;
      text-align: center;
   
    } 
   
    .num3 {
       background-color: rgb(214, 144, 144);
      margin: 0%;
      margin-top: 2%;
       width: 100%;
    }
   
   .num4 {
       background-color:rgb(176, 176, 242);
       margin: 0%;
       margin-top: 2%;
       width: 100%
   
   }
   
   .num5 {
      margin: 0%;
      padding:2%;
      margin-top: 5%;
      background-color:rgb(8, 149, 149);
       width: 100%
   }

   .num6 {
      background-color:rgb(255, 255, 77);
       padding: 2%;
       margin:0%;
       margin-top: 5%;
       width: 100%
   }
   
   #sedes {
      padding: 0%;
      margin: 0%;
      background-color: #022c06;
      width:90%;
      margin-right: 0%;
      margin-top: 5%;
   }
   
   
   .los2 {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0%;
      padding: 0%;
      margin-top: 3%;
      width: 90%;
   }
   .parte3 {
      margin: 0%;
      margin-left: 10%;
      margin-right: 0%;
   }
   .parte4 {
      padding: 0%;
      margin: 0%;
      margin: 10%;
      width: 25rem;
      margin-right: 0%;
   
   }
   

   
   
   footer {
      background-image:linear-gradient(to right, white, yellow,greenyellow,rgb(45, 45, 172));
       background-repeat: no-repeat;
       background-color: #FCFCFC;
       
       width: 90%;
       margin-top:5%;
   }
   
}
